<% content_for(:title) { "Dashboard of life" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="upc" data-view="Invoice" data-title="UPC"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="play" data-view="Invoice" data-title="Play"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pgnig" data-view="Invoice" data-title="PGNiG"></div>
    </li>
  </ul>
</div>
